/* You can add global styles to this file, and also import other style files */


body{
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight:300;
    background-color: #eef2f9 !important;
}


.fa-times{
    cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgb(175, 175, 175) !important;
}

.draggable {
    top: auto !important;
    left: auto !important;
  }

.badge{
    font-weight:400 !important;
}

.valign {
    display: table;
    width: 100%;
    height: 100%;
}
.valign > div {
    display: table-cell;
    width: 100%;
    height: 100%;
}
.valign.bottom > div {
    vertical-align: bottom;
}